/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Body and Layout */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}
.body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
header {
    padding: 20px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between; /* Align navbar to the right */  
}
header p {
	font-weight: bold;
	font-size: 2vw;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
    font-size: 1.2vw;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: yellow;
	transition: width 0.2s ease-out;
}

nav ul li a:hover::after,
nav ul li a:focus::after {
    width: 100%;
}
.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
    flex: 1;
    margin: auto; /* Centering the intro section vertically */
    height: 100vh; /* Make it take full viewport height */
    max-height: 700px; /* Optional: set a max height if needed */
}

/* Optional: To align the intro section content more precisely */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    flex: 2;
    max-width: 60%;
    text-align: left;
    color: #cccccc;
    font-size: 1.2vw;
    line-height: 1.5;
    margin-bottom: 20px;
}

.intro-text > * {
	opacity: 0;
	transform: translateX(-100%);
	animation: slideInFromLeft 1.5s ease-out forwards;
}

.intro-text h1 {
    font-size: 3.5vw;
    margin-bottom: 2rem;
	animation-delay: 0s;
}

.intro-text p {
	animation-delay: 0.5s;
}

.intro-text ul {
	animation-delay: 0.5s;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #32cd32;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    animation-delay: 1s;
	margin-top: 2rem;
}

.cta-button:hover {
    background-color: #28a428;
}

/* Image on the right side */
.intro-image {
    flex: 1;
    text-align: center;
}

.intro-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
	opacity: 0;
	transform: translateY(100%);
	animation: fadeIn 2s ease-out forwards;
}

/* Footer */
footer {
    background-color: #212020;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto; /* Ensures footer stays at the bottom */
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(1);
    transition: filter 0.3s;
}

.social-icon img:hover {
    filter: grayscale(0);
}

.copyright {
	margin: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .intro-section {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
    }

    .intro-image {
        align-self: center;
        margin-top: 20px;
    }

    .intro-text {
        max-width: 100%;
    }

    .intro-text h1 {
        font-size: 4.5vw;
    }

    .intro-text p {
        font-size: 3.5vw;
    }

    .cta-button {
        font-size: 3.5vw;
        padding: 10px 20px;
    }
}
